doctype html
html
    head
        title Link Shortener
            link(rel='stylesheet', href='css/css/bootstrap.min.css')
    body
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
        script(src='css/js/bootstrap.min.js')
        h1(class='text-danger') My Amazing App
        